node_red/node-red/flow.json
[{"id":"e4be40b7036f2386","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"cb0f4e49f5240102","type":"inject","z":"e4be40b7036f2386","name":"","props":[{"p":"payload"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"a3a4a5","payloadType":"str","x":120,"y":540,"wires":[["1c0663955941f959","a45ad858d2948c52"]]},{"id":"40151389360aa6a8","type":"mqtt out","z":"e4be40b7036f2386","name":"","topic":"/DUplink/E111111111127172","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"55fd404e21269114","x":900,"y":560,"wires":[]},{"id":"3aec1b1a8ff7312a","type":"mqtt out","z":"e4be40b7036f2386","name":"","topic":"/DUplink/1111111111271719","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"55fd404e21269114","x":900,"y":640,"wires":[]},{"id":"1c0663955941f959","type":"delay","z":"e4be40b7036f2386","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":380,"y":600,"wires":[["6eaf96428e03591d"]]},{"id":"98e75656e1b1c4d4","type":"inject","z":"e4be40b7036f2386","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":320,"wires":[["12a4220d7429e42d"]]},{"id":"12a4220d7429e42d","type":"file","z":"e4be40b7036f2386","name":"","filename":"lora.txt","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":320,"y":320,"wires":[["9981dee71123c464"]]},{"id":"9981dee71123c464","type":"debug","z":"e4be40b7036f2386","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":320,"wires":[]},{"id":"b4d2b58958c03f0d","type":"file in","z":"e4be40b7036f2386","name":"","filename":"lora.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1050,"y":320,"wires":[["1c9b29946ef4c8a0"]]},{"id":"c55de35c55541c75","type":"http in","z":"e4be40b7036f2386","name":"","url":"/timestamp","method":"get","upload":false,"swaggerDoc":"","x":880,"y":320,"wires":[["b4d2b58958c03f0d"]]},{"id":"1c9b29946ef4c8a0","type":"http response","z":"e4be40b7036f2386","name":"","statusCode":"","headers":{},"x":1330,"y":320,"wires":[]},{"id":"261d6fcb824005b2","type":"comment","z":"e4be40b7036f2386","name":"ELIMINA FILE ","info":"","x":130,"y":260,"wires":[]},{"id":"1531669774907f5e","type":"comment","z":"e4be40b7036f2386","name":"LEGGI FILE https://10.22.255.61/sfc-root/timestamp","info":"","x":990,"y":260,"wires":[]},{"id":"dac39245b48f4440","type":"file","z":"e4be40b7036f2386","name":"","filename":"lora.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":910,"y":480,"wires":[[]]},{"id":"a45ad858d2948c52","type":"function","z":"e4be40b7036f2386","name":"","func":"timestamp = Date.now()\n//get value\nmsg_to_file=String(timestamp)+';1';\n\nreturn [{payload: msg_to_file}, msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":540,"wires":[["dac39245b48f4440"],["40151389360aa6a8"]]},{"id":"6eaf96428e03591d","type":"function","z":"e4be40b7036f2386","name":"","func":"timestamp = Date.now()\n//get value\nmsg_to_file=String(timestamp)+';2';\n\nreturn [{payload: msg_to_file}, msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":600,"wires":[["dac39245b48f4440"],["3aec1b1a8ff7312a"]]},{"id":"9990785822429dca","type":"inject","z":"e4be40b7036f2386","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"a3a4a5","payloadType":"str","x":110,"y":440,"wires":[["5a733f84b2a74492"]]},{"id":"5a733f84b2a74492","type":"mqtt out","z":"e4be40b7036f2386","name":"","topic":"/DUplink/1111111111271719","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"55fd404e21269114","x":380,"y":440,"wires":[]},{"id":"89bf3363d509b370","type":"comment","z":"e4be40b7036f2386","name":"3 VOLTE PRIMA DI INIZIARE","info":"","x":180,"y":380,"wires":[]},{"id":"b4be8cee1d8e3136","type":"comment","z":"e4be40b7036f2386","name":"avvia","info":"","x":110,"y":500,"wires":[]},{"id":"55fd404e21269114","type":"mqtt-broker","name":"","broker":"ie-databus","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
